/* CUSTOM VARIABLE */
:root {
    --footer-height: 90px;
    --navbar-width: 15rem;
}


/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL CSS */
body {
    font-family: sans-serif;
    height: 100vh;
    background: #222;
    color: white;
    display: flex;
    flex-wrap: wrap;
}


/* NAV SECTION */
nav {
    background: orange;
    height: calc(100% - var(--footer-height));
    width: var(--navbar-width);
}

/* MAIN SECTION */
main {
    height: calc(100% - var(--footer-height));
    width: calc(100% - var(--navbar-width));
    background: teal;
}


/* FOOTER SECTION */
footer {
    width: 100%;
    height: var(--footer-height);
    background: #57575777;
    color: white;
}

footer i{
    color: white;
}


.footer-left,
.footer-center,
.footer-right,
.play-now,
.play-now-img,
.play-now-text{
    height: 100%;

}

/* FOOTER LEFT */
.play-now-text h5{
    font-size: 0.8rem;
    font-weight: 800;
}

.play-now-text p{
    font-size: 0.6rem;
    font-weight: 800;
    opacity: 80%;
}

.footer-left img{
    height: 50%;
}

.footer-left a{
    margin-left: 8px;
}


/* FOOTER CENTER */

.media-playback{
    gap: 2rem;
}

.status{
    height: 5px;
	width: 300px;
	background: linear-gradient(90deg, rgba(153,153,153,1) 35%, rgba(78,78,78,1) 35%);
	border-radius: 15px;
}

.volume{
    height: 5px;
	width: 100px;
	background: linear-gradient(90deg, rgba(153,153,153,1) 35%, rgba(78,78,78,1) 35%);
	border-radius: 15px;
}

/* FOOTER RIGHT */
.footer-right a{
    margin-right: 8px;
}
