/* CUSTOM VARIABLE */
:root {
    --footer-height: 80px;
    --navbar-width: 15rem;
}


/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL CSS */
body {
    font-family: sans-serif;
    height: 100vh;
    background: #222;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}


/* NAV SECTION */
nav {
    background: black;
    height: calc(100% - var(--footer-height));
    width: var(--navbar-width);
}

/* MAIN SECTION */
main {
    height: calc(100% - var(--footer-height));
    width: calc(100% - var(--navbar-width));
    background: #141922;
    overflow-y: auto;
}

/* UPGRADE BUTTON */
.premium-banner{
    width: calc(100% - var(--navbar-width)) ;
    height: 100px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.178);
}

.premium-banner a{
    color: white;
    font-size: 1em;
    border: solid 2px white;
    border-radius: 2em;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* SPOTIFY CATEGORIES CSS */
.categories{
    margin-top: 100px;
    width: 100%;
    height: 50px;
    background-color: #141922;
}

.categories a{
    color: rgb(175, 175, 175);
    padding: 16px;
    font-weight: 600;
    font-size: 13px;
}

.categories a:hover{
    border-bottom: 2px solid greenyellow;
}

/* RECENTLY TRACKS */



/* TRACKS CSS */
.tracks{
    margin: 16px 32px;
    width: calc(100% - --navbar-width);
}

.tracks ul{
    list-style-type: none;
    text-align: center;
    padding-right: 32px;
}

.tracks li{
    padding-top: 8px;
}

.tracks .img-track img{
    max-width: 200px;
}

.tracks .img-track{
    position: relative;
}

.tracks .img-hover{
    display: flex;
    position: absolute;
    align-items: center;
}

.tracks .img-hover i{
    display: none;
    position: absolute;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.img-track:hover .img-hover{
    background-color: rgba(0, 0, 0, 0.452);
    width: 100%;
    height: 200px;
}

.img-track:hover .img-hover i{
    display: block;
}

.tracks .title a{
    color: white;
    font-weight: 600;
}

.tracks .artist a{
    color: rgb(175, 175, 175);
}

/* MADE FOR YOU */
.made-for-you h5{
    color: rgb(175, 175, 175);
}

/* POPULAR ARTIST */
.popular img{
    border-radius: 50%;
}

.popular{
    margin-bottom: 200px;
}

/* FOOTER SECTION */
footer {
    width: 100%;
    height: var(--footer-height);
    background: #282828
    color: white;
}

footer i{
    color: white;
}


.footer-left,
.footer-center,
.footer-right,
.play-now,
.play-now-img,
.play-now-text{
    height: 100%;

}

/* FOOTER LEFT */
.footer-left{
    width: 200px;
}

.play-now-text h5{
    font-size: 0.8rem;
    font-weight: 800;
}

.play-now-text p{
    font-size: 0.6rem;
    font-weight: 800;
    opacity: 80%;
}

.footer-left img{
    height: 50%;
}

.footer-left a{
    margin-left: 8px;
}



/* FOOTER CENTER */

.footer-center{
    width: 40%;
}

.media-playback{
    gap: 2rem;
    margin-bottom: 8px;
}

#status-bar{
    width: 100%;
}

.status{
    height: 5px;
	width: 50%;
	background: linear-gradient(90deg, rgba(153,153,153,1) 35%, rgba(78,78,78,1) 35%);
	border-radius: 15px;
}


.footer-center span{
    font-size: 0.6rem;
    font-weight: 800;
}

/* FOOTER RIGHT */
.footer-right{
    width: 200px;
    justify-content: flex-end;
}

.footer-right a{
    margin-right: 8px;
}

.volume{
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, rgba(153,153,153,1) 35%, rgba(78,78,78,1) 35%);
    border-radius: 15px;
}

#volume-bar{
    width: 50%;
}